{% extends 'base.html' %}

{% block includes %}
<style type="text/css">
html, body {
  height:100%;
  /* width: 100%; */
}
body {
  display:flex;
  align-items:center;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
			<div class="row justify-content-center">
				<h1 class="greyTextColor"><i class="users icon"></i> Collab</h1>
			</div>
			<h2>Create your account</h2>
			<p>or sign up using Google</p>
			<form class="ui large form" method="post">
				{% csrf_token %}
				<div class="field">
			    <label>{{ form.first_name.label }}</label>
			    {{ form.first_name }}
				</div>
				<div class="field">
			    <label>{{ form.last_name.label }}</label>
			    {{ form.last_name }}
				</div>
				<div class="field">
					<label>{{ form.email.label }}</label>
			    {{ form.email }}
				</div>
				<div class="field">
		  		<button class="ui fluid large blue submit button" type="submit">Send Verification Code</button>
		  	</div>
			</form>
			<div class="row justify-content-center mt-5">
				<small>Step 1 of 4</small>
				<!-- {{ form.errors }} -->
			</div>
    </div>
  </div>
</div>
{% endblock %}